* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*Primary colors*/
    --linear-gradient-one: linear-gradient(to left bottom, #6448fe, #6939e2, #6929c7, #6619ad, #600594);
    --red: #ff5252;

    /*Neutral*/
    --white: #ffffff;
    --light-grayish-violet: #dedddf;
    --dark-grayish-violet: 	#8e8593;
    --very-dark-violet: #21092f;

    /*Font size*/
    --primary-size: 1.8rem;

    /*Font*/
    --primary-font: 'Space Grotesk', sans-serif;
    --font-weight: 500;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 460px;
    min-width: 305px;
    width: 100%;
    height: 100vh;
    margin: auto;
    font-family: var(--primary-font);
    font-size: var(--primary-size);
    font-weight: var(--font-weight);
    background-color: var(--white);
}

.payment-container {
    width: 100%;
    height: 100%;
}

/*Contenedor de tarjeta*/
.card-container {
    display: grid;
    width: 100%;
    height: 30%;
    padding: 20px;
    background-color: bisque;
    position: relative;
    background-image: url("../assets/bg-main-mobile.png ");
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.card-container__back-card {
    display: grid;
    align-self: center;
    align-items: center;
    justify-self: end;
    justify-content: end;
    width: 281px;
    height: 150px;
    padding: 40px 35px;
    color: var(--white);
    background-image: url("../assets/bg-card-back.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    border-radius: 10px;
}

.card-container__segurity-code {
    font-size: 1rem;
}

.card-container__front-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "top-img top top"
        "mid mid mid"
        "bot bot bot-date";
    place-items: center;
    position: absolute;
    bottom: -60px;
    left: 20px;
    width: 281px;
    height: 150px;
    background-image: url("../assets/bg-card-front.png");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    border-radius: 10px;
    letter-spacing: 0.2rem;
}

.card-container__bank-image {
    grid-area: top-img;
    justify-self: start;
    width: 25px;
    height: 25px;
    margin: 25px;
    background-color: white;
    border-radius: 50%;
}

.card-container__circle {
    grid-area: top-img;
    width: 10px;
    height: 10px;
    margin-left: 50px;
    border: solid var(--white) 1px;
    border-radius: 50%;
}

.card-container__number {
    grid-area: mid;
}

.card-container__name {
    grid-area: bot;
    margin: 25px;
    justify-self: start;
    font-size: 1rem;
}

.card-container__date {
    grid-area: bot-date;
    font-size: 1rem;
}

/*Formulario*/
.form-container {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 0px 20px;
}

.form-container__container {
    display: grid;
    margin: 20px 0;
}

.form-container__label {
    height: 18px;
    margin-bottom: 8px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: var(--very-dark-violet);
}

.form-container__input {
    width: 100%;
    height: 40px;
    padding: 15px;
    border: var(--light-grayish-violet) 1px solid;
    border-radius: 10px;
}

.form-container__input::placeholder {
    font-family: var(--primary-font);
    font-size: var(--primary-size);
    letter-spacing: 0.2rem;
    color: var(--light-grayish-violet);
}

.form-container__container--colum {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
}

.form-container__input--colum {
    width: 70px;
    align-self: center;
    justify-self: start;
}

.form-container__input--cvc {
    width: 100%;
}

.main-button {
    width: 100%;
    height: 60px;
    color: var(--white);
    border: none;
    border-radius: 10px;
    font-size: var(--primary-font);
    background-color: var(--very-dark-violet);
}

/*Datos agregados con exito*/
.success-container {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 0px 20px;
}

.success-container__success {
    display: grid;
    grid-template-rows:     1fr 1fr;
    justify-items: center;
    align-items: end;
    text-align: center;
    width: 100%;
    height: auto;
}

.success__img {
    width: 80px;
    height: 80px;
}

.success__img img {
    width: 100%;
}

.success__text {
    margin-bottom: 50px;
}

.success__h {
    margin-top: 30px;
    letter-spacing: 0.2rem;
}

.success__p {
    margin-top: 10px;
    color: var(--dark-grayish-violet);
}

.inactive {
    display: none;
}

@media (min-width: 1366px) {
    body {
        max-width: none;
        min-width: none;
    }

    .payment-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 2fr;
    }

    .card-container {
        height: 100%;
        background-image: url("../assets/bg-main-desktop.png");
    }

    .card-container__back-card {
        position: relative;
        width: 400px;
        height: 230px;
        top: 200px;
        right: -190px;
    }

    .card-container__front-card {
        top: -300px;
        left: -80px;
        width: 400px;
        height: 230px;
    }

    .form-container {
        place-self: center;
        max-width: 400px;
    }

    .main-button {
        margin-top: 20px;
        cursor: pointer;
    }

    .success-container {
        place-self: center;
        max-width: 400px;
    }
}